[Unit]
Description=thermal-station
Wants=network-online.target
After=network-online.target

[Service]
Environment="MQTT_USERNAME=your_mqtt_id"
Environment="MQTT_PASSWORD=your_mqtt_pass"
Environment="GIN_MODE=release"
Type=simple
User=orangepi
Group=orangepi
Restart=always
RestartSec=5s
ExecStart=/home/orangepi/thermal-station

[Install]
WantedBy=multi-user.target
